        body {
            background-color: #000000;
        }
        
        * {
            margin: 0;
            padding: 5px;
            box-sizing: border-box;
        }
        
        .logoavatar{
            background-color: white;
        }

        .logoavatar img {
            padding: auto;
            width: 25%;
            height: 50%;
            object-fit: cover;
        }
        
        .introduction {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem;
        }
        
        .navigation {
            flex-basis: 30%;
            background-color: #042460;
            color: #FFF;
            padding: 1rem;
        }
        
        .navigation ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .navigation li {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }
        
        .navigation a {
            display: block;
            color: #FFF;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        
        .navigation a:hover {
            background-color: #000000;
        }
        
        .navigation .roman {
            font-size: 1.5rem;
        }
        
        .out_video {
            flex-basis: 70%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .out_video video {
            width: 100%;
            height: auto;
            max-height: 70vh;
        }
        
        footer {
            background-color: #00153d;
            color: #FFF;
            text-align: center;
            padding: 1rem;
            width: 100%;
        }
        
        /* Media queries para diseño responsive */
        @media (max-width: 768px) {
            .introduction {
                padding: 1rem;
            }

            .logoavatar {
                margin: 1rem;
            }
            
            .navigation {
                flex-basis: 100%;
                margin-bottom: 1rem;
            }
            
            .out_video {
                flex-basis: 100%;
            }
        }